.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.docx
*.pptx
*.pxm
data-original/*.zip
/ADVANCE-*
/body-chart.png
figures/figure-4a-legend.png
figures/figure-4b-legend.png
figures/figure-4c-legend.png
figures/figure-4.png


